# Visit https://github.com/lowlighter/metrics/blob/master/action.yml for full reference
name: Metrics
on:
  # Schedule updates (each hour)
  schedule: [{cron: "0 6,18 * * *"}]
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: emptyloominaty
          template: classic
          base: header, activity, repositories, metadata
          config_timezone: Europe/Bratislava
          config_display: large
          commits_authoring: emptyloominaty
          plugin_habits: yes
          plugin_habits_charts: yes
          plugin_habits_days: 28
          plugin_habits_facts: no
          plugin_habits_from: 300
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
          plugin_languages: yes
          plugin_languages_analysis_timeout: 60
          plugin_languages_categories: markup, programming
          plugin_languages_colors: github
          plugin_languages_details: percentage
          #plugin_languages_ignored: html, css  
          plugin_languages_limit: 12
          plugin_languages_recent_categories: markup, programming
          plugin_languages_recent_days: 28
          plugin_languages_recent_load: 500
          plugin_languages_sections: most-used, recently-used   
          plugin_languages_threshold: 0%
          plugin_lines: yes
          plugin_calendar: yes
          plugin_calendar_limit: 0
